<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.java.adds.mapper.DeepModelTaskMapper">
    <resultMap id="deepModelTaskList" type="com.java.adds.entity.DeepModelTaskEntity">
        <id column="id" property="id"/>
        <result column="task_name" property="taskName"/>
        <result column="dataset_id" property="datasetId"/>
        <result column="kg_id" property="kgId"/>
        <result column="model_id" property="modelId"/>
        <result column="metric_id" property="metricId"/>
        <result column="status" property="status"/>
        <result column="user_id" property="userId"/>
        <result column="result_id" property="resultId"/>
    </resultMap>

    <insert id="doDeepModelTask" useGeneratedKeys="true" keyProperty="id">
        insert into model_evaluation_task(task_name,dataset_id,kg_id,model_id,metric_id,status,user_id) values(#{taskName},#{datasetId},#{kgId},#{modelId},#{metricId},#{status},#{userId})
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            select  last_insert_id()
        </selectKey>
    </insert>

    <select id="getSimilarityModelTask" resultMap="deepModelTaskList">
        select * from model_evaluation_task where dataset_id=#{datasetId} and kg_id=#{kgId} and model_id=#{modelId} and status=1
    </select>

    <update id="updateTask">
        update model_evaluation_task set status=#{status} and result_id=#{result} where id=#{id}
    </update>

    <select id="getDMTasks" resultMap="deepModelTaskList">
        select * from model_evaluation_task where user_id=#{userId}
    </select>

    <select id="getTaskNameById" resultType="String">
        select task_name from model_evaluation_task where id=#{id}
    </select>
</mapper>