<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.java.adds.mapper.DeepModelTaskResultMapper">
    <resultMap id="deepModelTaskList" type="com.java.adds.entity.DeepModelTaskResultEntity">
        <id column="id" property="id"/>
        <result column="task_id" property="taskId"/>
        <result column="ndcg@1" property="ndcg1"/>
        <result column="ndcg@3" property="ndcg3"/>
        <result column="ndcg@5" property="ndcg5"/>
        <result column="ndcg@10" property="ndcg10"/>
        <result column="map" property="map"/>
        <result column="recall@3" property="recall3"/>
        <result column="recall@5" property="recall5"/>
        <result column="recall@10" property="recall10"/>
        <result column="precision@1" property="precision1"/>
        <result column="precision@3" property="precision3"/>
        <result column="precision@5" property="precision5"/>
        <result column="precision@10" property="precision10"/>
    </resultMap>

    <insert id="doDeepModelTask" parameterType="com.java.adds.entity.DeepModelTaskResultEntity" useGeneratedKeys="true" keyColumn="id" keyProperty="deepModelTaskResultEntity.id">
        insert into deep_model_task_result(task_id,ndcg@1,ndcg@3,ndcg@5,ndcg@10,map,recall@3,recall@5,recall@10,pre@1,pre@3,pre@5,pre@10)
        values(#{deepModelTaskResultEntity.taskId},#{deepModelTaskResultEntity.ndcg1},#{deepModelTaskResultEntity.ndcg3},#{deepModelTaskResultEntity.ndcg5},#{deepModelTaskResultEntity.ndcg10},#{deepModelTaskResultEntity.map},#{deepModelTaskResultEntity.recall3},#{deepModelTaskResultEntity.recall5},#{deepModelTaskResultEntity.recall10},#{deepModelTaskResultEntity.precision1},#{deepModelTaskResultEntity.precision3},#{deepModelTaskResultEntity.precision5},#{deepModelTaskResultEntity.precision10})
        <selectKey keyProperty="deepModelTaskResultEntity.id" order="AFTER" resultType="java.lang.Integer">
            select  last_insert_id()
        </selectKey>
    </insert>

</mapper>