<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.java.adds.mapper.DeepModelMapper">
    <resultMap id="deepModelList" type="com.java.adds.entity.DeepModelEntity">
        <id column="id" property="id"/>
        <result column="model_name" property="modelName"/>
        <result column="model_category" property="modelCategory"/>
    </resultMap>

<!--    <select id="getAllModelOfCategory" resultMap="deepModelList">-->
<!--        select * from deep_model where model_category=#{categoryId}-->
<!--    </select>-->

<!--    <select id="getModelById" resultMap="deepModelList">-->
<!--        select * from deep_model where id=#{id}-->
<!--    </select>-->

</mapper>