<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.java.adds.mapper.DoctorMapper">
    <resultMap id="doctorList" type="com.java.adds.entity.DoctorEntity">
        <id column="Id" property="id"/>
        <result column="identityId" property="identityId"/>
        <result column="birthday" property="birthday"/>
        <result column="marriage" property="marriage"/>
        <result column="nation" property="nation"/>
        <result column="birth_place" property="birth_place"/>
        <result column="work_place" property="work_place"/>
        <result column="entry_time" property="entry_time"/>
        <result column="department" property="department"/>
        <result column="duty" property="duty"/>
        <result column="title" property="title"/>
        <result column="skill" property="skill"/>
        <result column="outpatient_time" property="outpatient_time"/>
        <result column="introduction" property="introduction"/>
        <result column="email" property="email"/>
    </resultMap>

    <select id="getAllDoctors" resultMap="doctorList">
        select * from doctor;
    </select>

    <select id="getDoctorsByDepartment" resultMap="doctorList">
        select * from doctor where department=#{did};
    </select>

    <select id="getDoctorById" resultMap="doctorList">
        select * from doctor where Id=#{id}
    </select>
</mapper>