<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.java.adds.mapper.MedicalCaseMapper">
    <resultMap id="MedicalCaseList" type="com.java.adds.entity.MedicalCaseEntity">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="title" property="title"/>
        <result column="category" property="category"/>
        <result column="description" property="description"/>
        <result column="status" property="status"/>
        <result column="zip_file_path" property="zipFilePath"/>
        <result column="txt_file_path" property="txtFilePath"/>
        <result column="ICD9_DIAG" property="ICD9_DIAG"/>
        <result column="ICD9_PROCE" property="ICD9_PROCE"/>
        <result column="ATC" property="ATC"/>
        <result column="kgId" property="kgId"/>
    </resultMap>

    <insert id="uploadMedicalCaseByUserId" useGeneratedKeys="true" keyProperty="id" parameterType="com.java.adds.entity.MedicalCaseEntity">
        insert into medical_case(user_id, title, category, description, status, zip_file_path)
        values(#{userId}, #{title}, #{category}, #{description}, #{status}, #{zipFilePath})
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            select  last_insert_id()
        </selectKey>
    </insert>

    <insert id="insertMedicalCase" useGeneratedKeys="true" keyProperty="id" parameterType="com.java.adds.entity.MedicalCaseEntity">
        insert into medical_case(user_id, title, category, description, status, zip_file_path, ICD9_DIAG, ICD9_PROCE, ATC, kgId)
        values(#{userId}, #{title}, #{category}, #{description}, #{status}, #{zipFilePath}, #{ICD9_DIAG}, #{ICD9_PROCE}, #{ATC}, #{kgId})
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            select  last_insert_id()
        </selectKey>
    </insert>

    <select id="getMedicalCaseByUserId" resultMap="MedicalCaseList">
        select * from medical_case where user_id=#{userId}
    </select>

    <select id="getMedicalCaseByKgId" resultMap="MedicalCaseList">
        select * from medical_case where kgId=#{kgId}
    </select>

    <update id="updateMedicalCase" parameterType="com.java.adds.entity.MedicalCaseEntity">
        update medical_case
        set status=#{status}, txt_file_path=#{txtFilePath}, ICD9_DIAG=#{ICD9_DIAG}, ICD9_PROCE=#{ICD9_PROCE}, ATC=#{ATC}, kgId=#{kgId}
        where id=#{id}
    </update>


<!--    <update id="updateMedicalCase" parameterType="com.java.adds.entity.MedicalCaseEntity">-->
<!--        update medical_case-->
<!--        set status=#{status}, txt_file_path=#{txtFilePath}-->
<!--        where id=#{id}-->
<!--    </update>-->



    <select id="getMedicalCaseById" resultMap="MedicalCaseList">
        select * from medical_case where id=#{caseId}
    </select>
</mapper>